# directories
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
**/artifacts
**/build
**/cache
**/coverage
**/.coverage_artifacts
**/.coverage_cache
**/.coverage_contracts
**/dist
**/node_modules

# files
*.env
*.log
.pnp.*
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# types
src/types/*
!src/types/common.ts
!src/types/Bootcamp.ts
!src/types/Course.ts
!src/types/Review.ts
!src/types/OpenCred.ts
!src/types/OpenCredFactory.ts
!src/types/OpenCredImpl.ts

# factories
!src/types/factories
src/types/factories/*
!src/types/factories/Bootcamp__factory.ts
!src/types/factories/Course__factory.ts
!src/types/factories/Review__factory.ts
!src/types/factories/OpenCred__factory.ts
!src/types/factories/OpenCredFactory__factory.ts
!src/types/factories/OpenCredImpl__factory.ts
.env
